* {
    font-family: Arial;
}

header {
    width: 95vw;
    height: 10vh;

    margin: 0 auto;
}

.content-container {
    width: 95vh;
    height: 85vh;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    margin: 0 auto;
    text-align: center;
}

.egg-choices {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10vh 0;
}

.egg {

    display: flex;
    justify-content: center;
    align-items: center;   

    width: 5vw;
    height: 5vw;

    margin: 0 5vw;
}

.hidden {
    display: none;
}