* {
    font-family: Arial;
    box-sizing: border-box;
}

header {
    width: 95vw;
    height: 10vh;

    margin: 0 auto;

    background-color: #CCFFCC;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.subheading {
    width: 95vw;
    height: 5vh;

    margin: 1vh auto;

    background-color: #FFCC66;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#subheading-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#subheading-back.hidden {
    display: none;
}

#subheading-back p {
    width: 30%;
    padding-left: 1rem;

    line-height: 2rem;
}

#subheading-back p:hover {
    color: #333333;
    cursor: pointer;
}

#subheading-back h2 {
    width: 40%;
}

.content-container {
    width: 95vh;
    height: 78vh;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    margin: 0 auto;
    text-align: center;    
}

#egg-chooser {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 95vw;
    margin: 10vh 0;
}

#egg-chooser.hidden {
    display: none;
}

.egg-choice {
    width: 20vw;
    height: 20vw;

    border-radius: 5px;
    background-color: #F9F9F9;
    border: 2px solid #CCCCCC;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;
}

.egg-choice:hover {
    background-color: #FCFCFC;
    border: 2px solid #999999;
}

.egg {

    display: flex;
    justify-content: center;
    align-items: center;   

    width: 10vw;
    height: 10vw;

    margin: 0 auto;
}

.hidden {
    display: none;
}

#progress-bar-container {

    width: 95vw;
    height: 2vh;

    margin: 0 auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#progress-bar {

    width: 0%;
    height: 50%;

    background-color: #669966;

    border-radius: 3px;
}


#encoded-text, .egg {
    font-size: 4rem;
}

.number-encoding {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.number-word-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem;
}

/* option with all numbers and punctuation in boxes */
.number-character-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 5rem;
    line-height: 5rem;

    /* margin: 0 0.25rem; */

    background-color: #F9F9F9;
    border: 2px solid #CCCCCC;

}

/* option with numbers underneath blank spaces */
.number-character-container-underline {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 4rem;
    font-size: 2rem;
    /* line-height: 5rem; */

    margin: 0 0.25rem;
    margin-top: 4rem;

    border: none;
    border-top: 2px solid #999999;

}

/* option with numbers underneath blank spaces: move punctuation symbols up and hide underline */
.number-character-container-underline-punctuation {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 4rem;
    font-size: 2rem;
    
    margin: 0 0.25rem;

    border: none;
}

.braille-encoding {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.braille-word-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem;
}


.braille-cell {
    width: 3rem;
    height: 3.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin: 0 0.25rem;

    border: 0px solid black;
}

.braille-dot {
 
    width: 1rem;
    height: 1rem;
 
    margin: 0.25rem;

    border-radius: 50%;
}

.braille-dot-filled {
    background-color: green;
}

.braille-dot-blank {
    background-color: #EEEEEE;
}
